<% if @user %>
  <form class="form-horizontal" action="/account/<%= @user.id %>" method="post" >
    <input type="hidden" name="_method" value="put">
    <fieldset>
      <legend>Enter User Details</legend>
      <div class="control-group">
        <label class="control-label" for="fname">First Name</label>
        <div class="controls">
          <input type="text" name="fname" value="<%= @user.fname %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="lname">Last Name</label>
        <div class="controls">
          <input type="text" name="lname" value="<%= @user.lname %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="text" name="email" value="<%= @user.email %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
       <div class="control-group">
        <label class="control-label" for="password_confirmation">Confirm</label>
        <div class="controls">
          <input type="password" name="password_confirmation" placeholder="Confirm">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Update Account</button>
          <a class="btn" href="/account/<%= @user.id %>/delete">Delete Account</a>
          <a class="btn" href="/accounts">Cancel</a>
        </div>
      </div>
    </fieldset>
  </form>
<% else %>
  <p>User account not found.</p>
<% end %>
